body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;

    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

#formContainer {
    display: flex;
    overflow: hidden;
}

form {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

form h2 {
    text-align: center;

}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;

}

input[type="submit"] {
    background-color: #0dc416;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    width: calc(100% - 16px);
    padding: 8px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    border-color: #ffffff;
    color: #fffdfd;
}

.round-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.round-btn:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme input {
    background-color: #555;
    color: #fff;
}

.dark-theme input[type="submit"] {
    background-color: #2a9535;
}

.dark-theme button {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

.dark-theme button:hover {
    background-color: #ffffffda;
    color: #000000;
}

input[type="submit"]:active {
    background-color: #026f0d;
    color: #ffffffd4;
}

input[type="submit"]:hover {
    background-color: #06e31cd5;
    color: #ffffff;
}

.btn-container {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
}

.grid-container{
    display: grid;
    grid-template-columns: 15% 35% 4% 44%;
}

@media screen and (max-width: 700px) {
    .container > *:not(#formContainer) {
      display: none;
    }
    .grid-container{
        display: flex;
    }
  }
  
.textTelegram{
    color: rgba(255, 0, 0, 0.594);
    margin: 0;
}


#borderDiv{
    height: 100%;
}
.theme-border{
    border-left:2px solid rgb(255, 255, 255);
}
.dark-theme-border{
    border-left:2px solid rgb(0, 0, 0);
}